body {
  background-image: url(./img/bg-02.jpg);
  color: aliceblue;
  margin: 30px;
  padding: 10px;
  font-family: "Oswald";
}
/* 
.caja-titulo {
    border-top: 1px aliceblue solid;
    border-bottom: 1px aliceblue solid ;
} */

.Title {
  width: auto;
  /* margin: 20px auto; */
  padding: 10px 0px 10px 0px;
  border-top: 0.5px aliceblue solid;
  border-bottom: 0.5px aliceblue solid;
  font-size: 60px;
  font-family: "Oswald";
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.ciudad {
  text-transform: uppercase;
  margin: 5px;
  padding: 5px 0px 5px 0px;
  text-align: start;
}

.fecha {
  margin: 5px;
  padding: 5px 0px 5px 0px;
  border-top: 1px aliceblue solid;
  border-bottom: 1px aliceblue solid;
  text-align: start;
}

.opcionesDeBusqueda {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  text-transform: uppercase;
}

.temperatura {
    margin-top: -50px;
    margin-bottom: 0px;
  font-size: 80px;
  font-family: "Oswald";
  text-transform: uppercase;
}

.icono {
  margin-left: 0px;
  /* padding: 10px; */
}

.miniDiv {
    background-color: #ffffff33;
    border-radius: 3px;
    width: 125px;
    padding: 5px 10px;
    margin: 10px;
}

.descripcion {
  margin: 5px;
  padding: 5px 0px 5px 0px;
  border-top: 0.5px aliceblue solid;
  border-bottom: 0.5px aliceblue solid;
  text-align: start;
}

.pTitle {
    padding: 10px 0px 20px 0px;
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 1.2;
  text-align: center;
}

.myDivContainer {
  margin: 40px 5px 40px 5px;
  /* padding-left: 0; */
}

.myDiv {
  margin: 10px 0px;
}

.mySelect {
  margin: 0px 0px 0px 20px;
}

.mySearch {
  width: 52%;
  height: 40px;
  margin: 20px 20px 20px 0px;
}

.myBtn {
  width: 15%;
  height: 40px;
  margin: 20px 0px 20px 0px;
}

.myBtn2 {
  width: 28%;
  height: 40px;
  margin: 20px 0px 20px 20px;
}

.fondoDiv {
    padding: 40px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.096) 0%, #ffffff33 100%);
    border-radius: 10px;
}







